* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.canvas {
  position: relative;
  width: 520px;
  height: 520px;
  background: black;
}
.box {
  position: absolute;
  border: 10px solid black; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  color: gray;
  background: white;
}
.a {
  top: 0;
  left: 0;
  width: 120px;
  height: 160px;
  background:white;
  z-index: 1;
}
.b {
  top: 160px;
  left: 0;
  width: 120px;
  height: 160px;
  background: white;
  z-index: 1;
}

.c {
  top: 0;
  left: 120px;
  width: 300px;
  height: 320px;
  background: red;
}

.d {
  top: 320px;
  left: 0;
  width: 120px;
  height: 200px;
  background: darkblue; 
}
.e {
  top: 320px;
  left: 120px;
  width: 300px;
  height: 200px;
}

.f {
  top: 320px;
  left: 420px;
  width: 60px;
  height: 100px;
}

.g {
  top: 420px;
  left: 420px;
  width: 60px;
  height: 100px;
  background: gold;
}
