body {
    background-color: darkblue;
    color: white;
    font-family: Arial;
    padding: 20px;
}

h2 {
    margin-top: 40px;
}

.insert {
    color: white;
    font-weight: bold;
    text-align: right;
}

.media {
    color: red;
    font-weight: bold;
    text-align: center;

}

.format-text {
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border: 2px solid red;
    display: inline-block;
    padding-bottom: 30px;
    width: 450px;
}
.highlight-format{
    color: red;

}

.controls {
    color: lime;
    font-weight: bold;
    font-style: italic;
}
.galleries {
    color: yellow;
    padding: 5px 10px;
    font-weight: bold;
    display: inline-block;
    width: 50px;
    text-align: center;
    border-bottom: 2px solid yellow;
    width: 300px;
}

.highlight-red {
    color: red;
    font-style: italic;
    font-weight: bold;
}
.highlight-text{
    color:red;
    font-weight: bold;
    text-decoration: underline;
}
.highlight-blue {
    color: blue;
}
.highlight-green {
    color: lime;
    font-weight: bold;
}
.highlight-greentext{
    color: black;
    background-color: rgb(52, 228, 52);

}
.highlight-yellow {
    color: yellow;
}
.highlight-violet{
    color: violet;
    font-weight: bold;
}
.black-box {
    background-color: black;
    padding: 10px;
    margin-top: 10px;
    font-family: Arial;
    font-style: italic;
    border-left: 1px solid red;
    padding-right:5px ;
}
